<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://media.licdn.com/dms/image/C560BAQHMnA03XDdf3w/company-logo_200_200/0/1519855918965?e=2147483647&v=beta&t=J3kUMZwIphc90TFKH5oOO9Sa9K59fimgJf-s_okU3zs"
    alt=""
    height="200px"
    width= "396px"
    srcset="">
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#">Nova versao do Angular</a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta elementum ligula consequat aliquam. Donec nec ipsum varius, vulputate risus et, ultricies ipsum. In rhoncus tincidunt varius. Sed pellentesque efficitur justo eget efficitur. Vestibulum lacus ex, malesuada quis ornare id, porta ut magna. Nunc finibus imperdiet ipsum vel luctus. Integer et velit sed lectus blandit viverra.
      </a>
    </p>
  </div>
</div>
