
section{
    margin: 1rem;
}


.dpokemon{
    list-style: none;
    background-color: #49D0B0;
    border-radius: 2rem;
    padding-left: 0rem;
}

.dpokemon .detail {
    padding-left: 20px;
}

.dpokemon .backButton{
    opacity: .25;
    border-radius: 1rem;
    color: white;
    margin: 3rem 1rem ;
    border: none;
}

.dpokemon .detail .name{
    color: #fff;
    font-size: 2.2rem;
}

.dpokemon .detailNum .number{
    display: flex;
    flex-direction: column;
    text-align: right;
    color: white;
    opacity: 0.8;
    font-size: 1rem;
    padding-right: 2rem;
}

.dpokemon .detail .types{
    padding-left: 0px;
}

.dpokemon .detail .types .type{
    background-color: #49D0B0;
    color: #fff;
    padding: .25rem 1rem;
    margin: .25rem;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.dpokemon .imagem{
    margin: 2rem 2rem;
    text-align: center;
    transform: scaleX(-1);
    height: 160px;
}

.dpokemon .descritivoPokemon {
    padding-top: 3rem;
    background-color: white;
    border-radius: 2rem;
    list-style: none;
    font-size: 1.5rem;
}